name: CI Infra (Terraform)

on:
  pull_request:
  push:
    branches: [ main ]
permissions:
  contents: read
jobs:
  infra-ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init (no backend)
      run: terraform init -backend=false

    - name: Terraform Format Check
      run: terraform fmt -check

    - name: Terraform Validate
      run: terraform validate

    # Security Scan
    - name: Run Checkov Scan
      uses: bridgecrewio/checkov-action@v12
      with:
        directory: .
        skip_check: CKV_AZURE_88